body {
  margin: 0;
  padding: 0;
  background: url('https://img.freepik.com/free-photo/doctor-white-coat-using-digital-tablet-reading-medical-data-gadget-working-hospital-standin_1258-122385.jpg?w=2000&t=st=1706100481~exp=1706101081~hmac=43155034bf926b8d26fb8704c7f814f7c7406e8aa43bbe58e5642b22d1a7076c') center/cover no-repeat fixed;
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 20px;
}

.booking-form {
  display: flex;
  align-items: center;
  margin-top: 100px;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 100px;
  text-align: center;
}

.small-form {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.form-preview {
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
